@import url("../../../styles/base.css");

.wrapper {
  overflow-y: scroll;
  display: flex;
  margin: 0;

  width:100%;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  @media (--screen-phone-lg) {
    flex-direction: row;
  }

}

.content {
  position: relative;
  top: 0;
  left: 0;

  margin-left: 20%;
  margin-right: 20%;
  text-align: center;

  flex: 1;
  order: 1;

  @media (--screen-phone-lg) {
    flex: 2;
    order: 2;
  }
}

.formBtn {
  border: 1px solid #ccc;
  display: inline-block;
  outline: 0;
  padding: 20px 60px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  background-color: #4CAF50;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.form {
  overflow-y: scroll;
  display: flex;
  margin: 0;

  width:100%;
  height:100vh;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  text-align: left;

  flex-direction: column;

  @media (--screen-phone-lg) {
    flex-direction: row;
  }

  h1{
    margin: 10px;
    font-size: 30px;
  }

}
